<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358157558122-fjr8q4dbsqac792mdj75m7mapsqntn93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358157558122-fjr8q4dbsqac792mdj75m7mapsqntn93</string>
	<key>API_KEY</key>
	<string>AIzaSyBdVR4mFcguCxMdg5CYkKaSYn2JJoN44Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>358157558122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.review</string>
	<key>PROJECT_ID</key>
	<string>reviewus-11434</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewus-11434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358157558122:ios:9ad154371e4235c6968513</string>
</dict>
</plist>